body {
  background-color: #333;
  font-family: 'Lato';
}
#content {
  letter-spacing: 0.02em;
  font-size: 1.15em;
  margin-top: 64px;
}
#content code {
  white-space: normal;
}
#content .container h1 {
  font-family: 'Lato';
}
#content .container h2 {
  border-bottom: 2px solid #efefef;
}
#content .container {
  background-color: #fff;
  border-radius: 5px;
  padding: 25px 45px 25px 45px;
}